.book-container {
	width: 100%;
	height: 100%;
	position: relative;
	transition-duration: 1s;
	overflow: hidden;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary);
}

.page-container {
	position: absolute;
	margin: auto;
	height: 90%;
	aspect-ratio: 13 / 9;
	inset: 0;
}

.blockClick {
	position: absolute;
	inset: 0;
	z-index: 100000;
	pointer-events: all;
	background: transparent;
}

/* ANIMAÇÕES */
.pageAnimation {
	animation: page 1s ease forwards 0.1s;
}

@keyframes page {
	from { transform: translateX(100%); }
	to { transform: translateY(0); }
}

.page.sumario {
  text-align: left;
  padding: 8%;

  .niveis {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 2rem;
      &:first-of-type { margin-top: 0; }
    }

    p {
      width: fit-content;
      &:hover { font-weight: bold; }
      &.blocked {
        color: var(--neutralOpacity);
        cursor: default;
        &:hover { font-weight: normal; }
      }
    }
  }
}
