<div class="book-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/livro/background.png');">
	<div class="page-container pageAnimation">
		@if (isWaiting) { <div class="blockClick"></div> }

		@for (page of book; track $index) {
			<app-sheet
				[frente]="page.front"
				[verso]="page.verse"
				[capa]="page.capa"
				[frenteCapa]="page.frenteCapa ?? false"
				[style.zIndex]="zIndexValues[$index]"
				(flippedChange)="onFlip($index, $event)"
				(navigate)="multiplasPaginas($event.qnt ?? 1, $event.next ?? true)"
				[onFirstPage]="onFirstPage"
				[onLastPage]="onLastPage"
			></app-sheet>

		} @empty {
			<p>Oops! Nenhuma página encontrada.</p>
		}
	</div>
</div>
