<div class="leasson">
	<header>
		<span class="link" [routerLink]="''">← Voltar</span>
		<span>Subtópico {{subtopicoContent?.displayOrder}} <span>|</span> Capítulo {{subtopicoContent?.chapterId}}</span>
	</header>

	<section>
		<div class="teoria">
			<h1>{{ subtopicoContent?.title }}</h1>
			<div class="conteudo" [innerHTML]="subtopicoContent?.content"></div>
		</div>

		<div class="pratica">
			<h2>Vamos praticar?</h2>
			@if(subtopicoContent?.practiceExplanation != null){
			 <div class="div-content" >
			   <span class="dica-label">
                <span class="material-icons">lightbulb</span> <strong>Dica</strong>:
               </span>
			   <span class="dica" [innerHTML]="subtopicoContent?.practiceExplanation"></span>
			 </div>
		    }
		</div>
	</section>

	<div class="tabuleiro">
     @if (tipoFase === 'BOARD') {
     <app-chess-board
      (fenAtualizado)="fenDoBackend = $event"
      [orientation]="'white'"
      [subtopicId]="subtopicId"
	  (concluido)="praticaConcluida = true"
	  >
      </app-chess-board>
     }

    @if (tipoFase === 'MULTIPLE_CHOICE') {
     <app-quiz 
	 [subtopicId]="subtopicId" 
	 (concluido)="praticaConcluida = true"
	 />
    }
    </div>

	<button (click)="concluirSubtopico()" [disabled]="!praticaConcluida" >Concluir Subtópico</button>
</div>
