<div class="leasson">
	<header>
		<span class="link" [routerLink]="''">← Voltar</span>
		<span>Subtópico {{subtopico}} <span>|</span> Capítulo {{capitulo}}</span>
	</header>

	<section>
		<div class="teoria">
			<h1>{{ content.titulo }}</h1>
			<p>{{ content.texto }}</p>
		</div>

		<div class="pratica">
			<h2>Vamos praticar?</h2>
			<p>{{ content.contextoPratica }}</p>
		</div>
	</section>

	<div class="tabuleiro">
	 <app-chess-board
     [fen]="fenDoBackend"
     [orientation]="'white'">
     </app-chess-board>
	</div>

	<button (click)="concluirSubtopico()">Concluir Subtópico</button>
</div>
