<div class="leasson">
	<header>
		<span class="link" [routerLink]="''">← Voltar</span>
		<span>Subtópico {{subtopicoContent?.displayOrder}} <span>|</span> Capítulo {{subtopicoContent?.chapterId}}</span>
	</header>

	<section>
		<div class="teoria">
			<h1>{{ subtopicoContent?.title }}</h1>
			<p>{{ subtopicoContent?.content }}</p>
		</div>

		<div class="pratica">
			<h2>Vamos praticar?</h2>
		</div>
	</section>

	<div class="tabuleiro">
	 <app-chess-board
     (fenAtualizado)="fenDoBackend = $event"
     [orientation]="'white'"
	 [subtopicId]="subtopicId"
	 >
     </app-chess-board>
	</div>

	<button (click)="concluirSubtopico()">Concluir Subtópico</button>
</div>
