<h2 mat-dialog-title>Alterar senha</h2>

<mat-dialog-content>
	<form [formGroup]="ChangePassForm" (ngSubmit)="onChangePassword()">

		<mat-form-field appearance="outline" floatLabel="auto">
			<mat-label>Senha atual</mat-label>
			<input matInput [type]="hideSenhaAtual ? 'password' : 'text'" placeholder="Digite a senha atual" formControlName="senhaAtual">
			<mat-error *ngIf="ChangePassForm.get('senhaAtual')?.hasError('required')">Campo obrigatório</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaAtual')?.hasError('backendError')" >
			{{ ChangePassForm.get('senhaAtual')?.getError('backendError') }}
			</mat-error>

			<button mat-icon-button matSuffix class="visibility" (click)="toggleSenhaAtual()" type="button">
					<mat-icon>{{ hideSenhaAtual ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="outline" floatLabel="auto">
			<mat-label>Senha nova</mat-label>
			<input matInput [type]="hideSenhaNova ? 'password' : 'text'" placeholder="Digite a nova senha" formControlName="senhaNova">
			<mat-error *ngIf="ChangePassForm.get('senhaNova')?.hasError('required')">Campo obrigatório</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNova')?.hasError('minlength')">Deve conter no mínimo 8 caracteres</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNova')?.hasError('maxlength')">Deve conter no máximo 12 caracteres</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNova')?.hasError('backendError')" >
			{{ ChangePassForm.get('senhaNova')?.getError('backendError') }}
			</mat-error>
			<button mat-icon-button matSuffix class="visibility" (click)="toggleSenhaNova()" type="button">
				<mat-icon>{{ hideSenhaNova ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="outline" floatLabel="auto">
			<mat-label>Confirme a senha nova</mat-label>
			<input matInput [type]="hideSenhaNovaConfirmada ? 'password' : 'text'" placeholder="Repita a nova senha" formControlName="senhaNovaConfirmada">
			<mat-error *ngIf="ChangePassForm.get('senhaNovaConfirmada')?.hasError('required')">Campo obrigatório</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNovaConfirmada')?.hasError('backendError')" >
			{{ ChangePassForm.get('senhaNovaConfirmada')?.getError('backendError') }}
			</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNovaConfirmada')?.hasError('minlength')">Deve conter no mínimo 8 caracteres</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNovaConfirmada')?.hasError('maxlength')">Deve conter no máximo 12 caracteres</mat-error>
			<mat-error *ngIf="ChangePassForm.get('senhaNovaConfirmada')?.hasError('mismatch')">
			{{ ChangePassForm.get('senhaNovaConfirmada')?.getError('mismatch') }}
			</mat-error>
			<button mat-icon-button matSuffix class="visibility" (click)="toggleSenhaNovaConfirmada()" type="button">
				<mat-icon>{{ hideSenhaNovaConfirmada ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancelar</button>
	<button mat-button type="submit" [disabled]="ChangePassForm.invalid" (click)="onChangePassword()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
