:host {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
	height: 100%;
	background-color: color-mix(in srgb, var(--secondary) 95%, var(--neutral));
}

section {
	position: relative;
	display: flex;
	width: 50%;
	height: 50%;
	background-color: var(--white);
	padding: 3rem;
	gap: 2rem;
	box-shadow: 4px 4px 20px 0 var(--neutralOpacity);
	border: 2px solid var(--neutral);
	transform: translateY(-200%);

	.foto {
		border: 8px ridge var(--primary);
		border-radius: 8px;
		width: 40%;
		height: 100%;

		background-color: rgb(190, 190, 190);
	}

	.infos {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		p {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 1rem;
			color: var(--primary);

			span {
				font-weight: bold;
				color: var(--primary);
			}
		}

		i:hover {
			cursor: pointer;
			color: var(--primaryHover);
		}

		.header {
			padding-top: 2rem;
			p {
				font-weight: bold;
				font-size: 1.2rem;
			}
		}

		.section {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	// Cordões
	&::before, &::after {
		content: '';
		position: absolute;
		top: -53%;
		height: calc(53% + 19px);
		background: var(--neutral);
	}

	&::before {
		left: calc(5% + 9px);
		right: 50%;
		clip-path: polygon(0 100%, 0 calc(100% - 2px), 100% 0, 100% 2px);
	}

	&::after {
		left: 50%;
		right: calc(5% + 9px);
		clip-path: polygon(0 0, 100% calc(100% - 2px), 100% 100%, 0 2px);
	}

	.hole-left, .hole-right {
		position: absolute;
		top: 10px;

		width: 18px;
		height: 18px;
		z-index: 2;

		border-radius: 50%;
		border: 2px solid var(--neutral);
		background: var(--secondary);
	}

	.hole-left { left: 5%; }
	.hole-right { right: 5%; }

	transform: translateY(-120vh) rotate(-82deg);
	transform-origin: top center;
	animation: dropCard 2s cubic-bezier(0.15, 0.85, 0.25, 1) forwards;
}

@keyframes dropCard {
	0% { transform: translateY(-120vh) rotate(-82deg); }
	60% { transform: translateY(0px) rotate(8deg); }
	80% { transform: translateY(-8px) rotate(-3deg); }
	100% { transform: translateY(0) rotate(0deg); }
}
