@mixin tamanho {
	width: 100%;
	height: 100%;
}

@mixin sheet {
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform var(--duracao) ease-in-out;
	overflow: hidden;
	cursor: pointer;
	@include tamanho();
}

@mixin capaPage {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	@include tamanho();
}

:host {
	position: absolute;
	pointer-events: none;
	@include tamanho();
}

.flipPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	perspective: 2000px;
	position: relative;
	transition: transform 1s ease;
	@include tamanho();

	will-change: transform;
}

.flipPage.capaPage {
	.frentePage {
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		box-shadow: inset 0px 0 30px 0px #240a0380, 20px 0px 20px 0px #00000030;
		@include capaPage();
	}

	.versoPage {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		box-shadow: inset 0px 0 30px 0px #240a0380, 20px 9px 20px 10px #000000b3;
		@include capaPage();
	}
}

.flipPage.capaPage:not(.frente) {
	.frentePage::before, .versoPage::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-image: inherit;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
		@include tamanho;
	}

	.frentePage {
		position: relative;
		&::before { transform-origin: center; }
	}
}

.flipPage.capaPage.frente {
	.frentePage {
		box-shadow: inset 0px 0 30px 0px #240a0380, -20px 9px 20px 10px #000000b3;
	}

	.versoPage {
		box-shadow: inset 0px 0 30px 0px #240a0380, -20px 0px 20px 10px #00000030;
	}
}

.versoPage {
	will-change: transform;
	transform-origin: right;
	transform: rotateY(180deg);
	pointer-events: none;
	@include sheet();
}

.frentePage {
	will-change: transform;
	transform-origin: left;
	pointer-events: all;
	@include sheet();
}

.flipPage.flipped {
	.frentePage {
		transform: rotateY(-180deg);
		pointer-events: none;
	}

	.versoPage {
		transform: rotateY(0deg);
		pointer-events: all;
	}
}

/* // SE QUISEREM LIVRO NO CENTRO
.flipPage.firstPage {
	transform: translateX(calc(50% / -2));
}

.flipPage.lastPage {
	transform: translateX(calc(-50% / -2));
}*/
