<div class="flipPage"
    [class.flipped]="flipped"
    [class.capaPage]="capa()"
    [class.frente]="frenteCapa()"
    [class.firstPage]="onFirstPage()"
    [class.lastPage]="onLastPage()">

	@if (capa()) {
		<div class="versoPage"
			(click)="virarPagina()"
			[style.background-image]="backgroundImage()">
		</div>

		<div class="frentePage"
			(click)="virarPagina()"
			[style.background-image]="backgroundImage()">
		</div>

	} @else {
		<div (click)="virarPagina()" class="versoPage">
			<div class="page" [class.capitulo]="asCapitulo(verso())" [class.subtopico]="asSubtopico(verso())">
				@if (asCapitulo(verso()); as cap) {
					<div class="capitulo">
						<h1>Capítulo {{ cap.id }}</h1>
						<h2>{{ cap.titulo }}</h2>
					</div>
				} @else if (asSubtopico(verso()); as sub) {
					<div class="titulo">
						<h1>Subtópico {{ sub.idCapitulo }}.{{ sub.id }}</h1>
						<div class="subtitulo">
							<span>∾</span><p>{{ sub.titulo }}</p><span>∾</span>
						</div>
					</div>
					<img [src]="'/subtopicos/subtopico' + sub.id + '.png'" [alt]="'Img do subtópico' + sub.id">
					<!-- <a [routerLink]="sub.url">
						@if (sub.imagem) { <img [src]="sub.imagem" [alt]="sub.titulo"> }
						<span class="titulo">{{ sub.titulo }}</span>
					</a> -->
					<button [routerLink]="sub.url" (click)="isBlocked=true">Acessar nível</button>
				}
			</div>
		</div>

		<div (click)="virarPagina()" class="frentePage">
			<div class="page" [class.capitulo]="asCapitulo(frente())" [class.subtopico]="asSubtopico(frente())">
				@if (asCapitulo(frente()); as cap) {
					<div class="capitulo">
						<h1>Capítulo {{ cap.id }}</h1>
						<h2>{{ cap.titulo }}</h2>
					</div>

				} @else if (asSubtopico(frente()); as sub) {
					<div class="titulo">
						<h1>Subtópico {{ sub.idCapitulo }}.{{ sub.id }}</h1>
						<div class="subtitulo">
							<span>∾</span><p>{{ sub.titulo }}</p><span>∾</span>
						</div>
					</div>
					<img [src]="'/subtopicos/subtopico' + sub.id + '.png'" [alt]="'Img do subtópico' + sub.id">
					<button [routerLink]="sub.url" (click)="isBlocked=true">Acessar nível</button>
				}
			</div>
		</div>
  	}
</div>
