<div class="flipPage"
    [class.flipped]="flipped"
    [class.capaPage]="capa()"
    [class.frente]="frenteCapa()"
    [class.firstPage]="onFirstPage()"
    [class.lastPage]="onLastPage()">

	@if (capa()) {
		<div class="versoPage"
			(click)="virarPagina()"
			[style.background-image]="backgroundImage()">
		</div>

		<div class="frentePage"
			(click)="virarPagina()"
			[style.background-image]="backgroundImage()">
		</div>

	} @else {
		<div (click)="virarPagina()" class="versoPage">
			<div class="page" [class.capitulo]="asCapitulo(verso())" [class.subtopico]="asSubtopico(verso())">
				@if (asCapitulo(verso()); as cap) {
					<div class="capitulo">
						<h1>Capítulo {{ cap.id }}</h1>
						<h2>{{ cap.titulo }}</h2>
					</div>
				} @else if (asSubtopico(verso()); as sub) {
					<a class="subtopico" [routerLink]="sub.url">
						@if (sub.imagem) {
							<img [src]="sub.imagem" [alt]="sub.titulo">
						}
						<span class="titulo">{{ sub.titulo }}</span>
					</a>
				}
			</div>
		</div>

		<div (click)="virarPagina()" class="frentePage">
			<div class="page" [class.capitulo]="asCapitulo(frente())" [class.subtopico]="asSubtopico(frente())">
				@if (asCapitulo(frente()); as cap) {
					<div class="capitulo">
						<h1>Capítulo {{ cap.id }}</h1>
						<h2>{{ cap.titulo }}</h2>
					</div>

				} @else if (asSubtopico(frente()); as sub) {
					<a [routerLink]="sub.url">
						@if (sub.imagem) { <img [src]="sub.imagem" [alt]="sub.titulo"> }
						<span class="titulo">{{ sub.titulo }}</span>
					</a>
				}
			</div>
		</div>
  	}
</div>
