<div class="flipPage"
    [class.flipped]="flipped"
    [class.capaPage]="capa()"
    [class.frente]="frenteCapa()"
    [class.firstPage]="onFirstPage()"
    [class.lastPage]="onLastPage()">

	@if (capa()) {
		<img
			class="versoPage"
			(click)="virarPagina()"
			[src]="backImage()"
			loading="eager"
		/>

		<img
			class="frentePage"
			(click)="virarPagina()"
			[src]="frontImage()"
			loading="eager"
		/>

	} @else {
		<div (click)="virarPagina()" class="versoPage">
			<app-page [page]="verso()" side="verso" (isWaiting)="isPageWaiting = $event" (navigate)="navigate.emit($event)"></app-page>
		</div>

		<div (click)="virarPagina()" class="frentePage">
			<app-page [page]="frente()" side="frente" (isWaiting)="isPageWaiting = $event" (navigate)="navigate.emit($event)"></app-page>
		</div>
	}
</div>
