
<div class="login.container" >

    <div class="background">
        <img src="livro/background.png" alt="" class="livro-fundo">
    </div>

    <div class="overdelay" ></div>

    <div class="content" >

      <div class="left-col" >

       <h1 class="title">
         RatingUp
       </h1>

       <h3 class="subtitle">
            @if (isFirstAcess) {
                Crie sua conta para começar sua jornada de aprendizado
            } @else {
                Entre para continuar sua jornada no aprendizado
            }
        </h3>

        <div *ngIf="isFirstAcess === true"> <!--Parte de Cadastro-->

    <form [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Nome completo</mat-label>
      <input matInput type="text" placeholder="João Silva" formControlName="name">
      <mat-error *ngIf="RegisterForm.get('name')?.hasError('required')">Nome é obrigatório</mat-error>

      <mat-error *ngIf="RegisterForm.get('name')?.hasError('backendError')" >
        {{ RegisterForm.get('name')?.getError('backendError') }}
      </mat-error>

      <mat-error *ngIf="RegisterForm.get('name')?.hasError('pattern')">
      Nome não pode conter emojis ou caracteres especiais
     </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Apelido</mat-label>
      <input matInput type="text" placeholder="joao123" formControlName="nickname">
      <mat-error *ngIf="RegisterForm.get('nickname')?.hasError('required')">Nickname é obrigatório</mat-error>
      <mat-error *ngIf="RegisterForm.get('nickname')?.hasError('pattern')">Use apenas letras, números</mat-error>

      <mat-error *ngIf="RegisterForm.get('nickname')?.hasError('backendError')" >
        {{ RegisterForm.get('nickname')?.getError('backendError') }}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Telefone</mat-label>
      <input matInput type="text" placeholder="(85) 99999-9999" (input)="maskPhone($event)" formControlName="telefone">
      <mat-error *ngIf="RegisterForm.get('telefone')?.hasError('required')">Telefone é obrigatório</mat-error>

      <mat-error *ngIf="RegisterForm.get('telefone')?.hasError('backendError')" >
        {{ RegisterForm.get('telefone')?.getError('backendError') }}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" placeholder="seu@email.com" formControlName="email">
      <mat-error *ngIf="RegisterForm.get('email')?.hasError('required')">E-mail é obrigatório</mat-error>
      <mat-error *ngIf="RegisterForm.get('email')?.hasError('email')">E-mail inválido</mat-error>

      <mat-error *ngIf="RegisterForm.get('email')?.hasError('backendError')" >
        {{ RegisterForm.get('email')?.getError('backendError') }}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Mínimo 8 caracteres" formControlName="password">

      <mat-error *ngIf="RegisterForm.get('password')?.hasError('backendError')" >
        {{ RegisterForm.get('password')?.getError('backendError') }}
      </mat-error>

      <mat-error *ngIf="RegisterForm.get('password')?.hasError('pattern')" >
        A senha só pode ter letras, numeros e caracteres especiais, mas não emoji
      </mat-error>

      <button mat-icon-button matSuffix class="visibility" (click)="togglePassword()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="RegisterForm.invalid" >Cadastrar</button>
            <p class="registre" (click)="choseForm(false)" >Já tem uma conta? Entrar</p>

            </form>
        </div>

        <div *ngIf="isFirstAcess === false" > <!--Parte do Login -->

        <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">

            <!-- login.component.html -->
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="seu@email.com" formControlName="email">

          <mat-error *ngIf="LoginForm.get('email')?.hasError('backendError')" >
            {{ LoginForm.get('email')?.getError('backendError') }}
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="auto" >
            <mat-label>Senha</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Digite sua senha" formControlName="password">

            <mat-error *ngIf="LoginForm.get('password')?.hasError('backendError')" >
            {{ LoginForm.get('password')?.getError('backendError') }}
          </mat-error>

          <mat-error *ngIf="LoginForm.get('password')?.hasError('pattern')" >
            A senha só pode ter letras, numeros e caracteres especiais, mas não emoji
          </mat-error>

          <button mat-icon-button matSuffix class="visibility" (click)="togglePassword()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

        </mat-form-field>
        <p class="esqueci-senha" (click)="forgotPassword()" >Esqueceu a senha ? Clique aqui</p>

        <button mat-raised-button color="primary" type="submit" [disabled]="LoginForm.invalid" >Entrar</button>
        <p class="registre" (click)="choseForm(true)" >Não tem uma conta? Cadastre-se</p>
            
            <!-- <button (click)="choseForm(true)" >Cadastro</button> -->
        </form>
        </div>
    </div>

</div>
