@if(step === 'email'){
 <div class="Content">

    <h1>E-mail para recuperação da senha</h1>

  <form [formGroup]="EmailForm" (ngSubmit)="emailSubmit()" >
    <mat-form-field appearance="outline" floatLabel="auto" >
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="seu@email.com" formControlName="email">

        <mat-error *ngIf="EmailForm.get('email')?.hasError('backendError')">
         {{ EmailForm.get('email')?.getError('backendError') }}
        </mat-error>

        <mat-error *ngIf="EmailForm.get('email')?.hasError('email')">
         E-mail inválido
        </mat-error>

    </mat-form-field>

    <button type="submit" class="enviar" [class.disabled]="EmailForm.invalid" [disabled]="EmailForm.invalid" > Enviar E-mail </button>

  </form>

 </div>
}

@if(step === 'code'){
 <div class="Content" >

    <h1>Digite o codigo enviado no seu e-mail</h1>

    <form [formGroup]="CodeForm" (ngSubmit)="codeSubmit()" >
        <mat-form-field appearance="outline" floatLabel="auto" >
            <mat-label>Codigo de Verificação</mat-label>
            <input matInput type="text" placeholder="123456" formControlName="code" >
        </mat-form-field>

        <button type="submit" class="enviar" [disabled]="CodeForm.invalid" > Verificar Codigo </button>

    </form>

 </div>
}

@if(step === 'password'){
 <div class="Content" >

    <h1>Digite sua nova senha</h1>

    <form [formGroup]="NewPasswordForm" (ngSubmit)="NewPasswordSubmit()" >

        <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>Nova senha</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'"
                   placeholder="SuaNovaSenha@123" formControlName="NewPassword">
            <button mat-icon-button matSuffix (click)="togglePassword()" type="button">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

        <mat-error *ngIf="NewPasswordForm.get('NewPassword')?.hasError('backendError')">
         {{ NewPasswordForm.get('NewPassword')?.getError('backendError') }}
        </mat-error>

        <mat-error *ngIf="NewPasswordForm.get('NewPassword')?.hasError('pattern')">
         Senha inválida
        </mat-error>

        </mat-form-field>

        <button type="submit" class="enviar" [disabled]="NewPasswordForm.invalid" >Redefinir Senha</button>

    </form>

 </div>
}
