<div class="Content">

  <div class="glass-card">
    <img src="logos/logo.png" alt="Logo">

    @if (step === 'email') {
      <h1>E-mail para recuperação da senha</h1>

      <form [formGroup]="EmailForm" (ngSubmit)="emailSubmit()">
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email">

          @if (EmailForm.get('email')?.hasError('backendError')) {
            <mat-error>{{ EmailForm.get('email')?.getError('backendError') }}</mat-error>
          }
          @if (EmailForm.get('email')?.hasError('email')) {
            <mat-error>E-mail inválido</mat-error>
          }
        </mat-form-field>

        <button type="submit" class="enviar"
                [class.disabled]="EmailForm.invalid"
                [disabled]="EmailForm.invalid">Enviar E-mail</button>
      </form>
    }

    @if (step === 'code') {
      <h1>Digite o código enviado no seu e-mail</h1>

      <form [formGroup]="CodeForm" (ngSubmit)="codeSubmit()">
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Código de verificação</mat-label>
          <input matInput type="text" placeholder="123456" formControlName="code">
        </mat-form-field>

        <button type="submit" class="enviar"
                [class.disabled]="CodeForm.invalid"
                [disabled]="CodeForm.invalid">Verificar código</button>
      </form>
    }

    @if (step === 'password') {
      <h1>Digite sua nova senha</h1>

      <form [formGroup]="NewPasswordForm" (ngSubmit)="NewPasswordSubmit()">
        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Nova senha</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'"
                 placeholder="SuaNovaSenha@123" formControlName="NewPassword">
          <button mat-icon-button matSuffix (click)="togglePassword()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (NewPasswordForm.get('NewPassword')?.hasError('backendError')) {
            <mat-error>{{ NewPasswordForm.get('NewPassword')?.getError('backendError') }}</mat-error>
          }
          @if (NewPasswordForm.get('NewPassword')?.hasError('pattern')) {
            <mat-error>Senha inválida</mat-error>
          }
        </mat-form-field>

        <button type="submit" class="enviar"
                [class.disabled]="NewPasswordForm.invalid"
                [disabled]="NewPasswordForm.invalid">Redefinir senha</button>
      </form>
    }
  </div>
</div>