<section class="xadrez">
    <div #board class="chess-board"></div>
    <div class="chat-jogadas">
        <h2 class="titulo">Histórico de jogadas</h2>
		@for (move of moves; track $index){
			@if (move.from && move.to) {
				<div class="jogadas" [class.jogadas-sistema]="move.isSystem">
					<p>{{ move.from }} <i class="fa-solid fa-arrow-right"></i> {{ move.to }}</p>
					@if (move.error) { <i class="fa-solid fa-xmark"></i> }
				</div>
			}
			@if (move.extra; as extra) {
				@let parts = extra.split('.');
				<div class="jogadas" [class.jogadas-concluido]="move.status === 'COMPLETED'" [class.jogadas-sistema]="move.isSystem">
					<strong>{{ parts[0] }}.</strong>
					{{ parts[1] }}
				</div>
			}
		}
    </div>
</section>
