:host-context(.versoPage) .page {
	box-shadow: inset -7px 0 30px -7px #00000066, -10px 10px 15px 0px #00000008;
	margin-left: auto !important;

	.controls { left: 1rem; }
	.lock { cursor: pointer; }
}

:host-context(.frentePage) .page {
	box-shadow: inset 7px 0 30px -7px #00000066, 10px 10px 15px 0px #00000008;

	.controls {
		right: 1rem;
		left: auto;
		svg.invertSVG { transform: scale(-1, 1); }
	}
}

.page {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	p, span, svg { color: var(--primary); }
	p, span, h1, h2, li { &::selection { background-color: transparent; } }

	overflow: hidden;
	height: 96%;
	width: 97%;
	margin-top: 2%;
	background-color: var(--secondary);

	.controls {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 1rem;
		gap: 0.5rem;
		svg:hover { color: var(--primaryHover); }
	}

	.lock {
		display: flex;
		position: absolute;
		cursor: not-allowed;
		inset: 0;
		z-index: 9;
		background-color: var(--neutralOpacity);
		justify-content: center;
		align-items: center;
		img { border: none; }
	}
}

.page.home {
	text-align: left;
	padding: 8%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.actions {
			display: flex;
			gap: 1rem;
			align-items: center;
		}

		span {
			font-weight: bold;
			color: var(--alert);
			&:hover { color: var(--alertHover); }
		}
		h2 { margin-bottom: 0; }
	}

	.niveis {
		height: 95%;
		&.continuation {
			height: 95%;
		}
		h1 {
			align-self: center;
			margin-top: 4rem;
		}

		h2 {
			margin-top: 2rem;
			&:first-of-type { margin-top: 1rem; }
		}

		span {
			width: 100%;
			height: 2px;
			background-color: var(--primary);
		}

		width: 100%;
		display: flex;
		flex-direction: column;

		ul { list-style: none; }
		li {
			margin-left: 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--primary);
			width: fit-content;
			&:hover { font-weight: bold; }
			&.blocked {
				color: var(--neutralOpacity);
				cursor: default;
				&:hover { font-weight: normal; }
			}
		}
	}
}

.page.capitulo {
	background-color: var(--secondary);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/livro/capilar.webp");

	padding-top: 40%;
	h1 { font-weight: 900; }
	h2 { font-weight: 600; }
}

.page.subtopico {
	justify-content: space-between;
	padding: 16%;

	.titulo {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.subtitulo {
			display: flex;
			justify-content: center;
			gap: 1rem;

			span {
				color: var(--primaryHover);
				user-select: none;
			}
		}

		p {
			font-style: italic;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}

	img {
		border: 8px ridge var(--primary);
		border-radius: 8px;
	}
}
