<div class="page" [class.capitulo]="asCapitulo(page())" [class.subtopico]="asSubtopico(page())">
	@if (asCapitulo(page()); as cap) {
		<div class="capitulo">
			<h1>Capítulo {{ cap.id }}</h1>
			<h2>{{ cap.titulo }}</h2>
		</div>
	} @else if (asSubtopico(page()); as sub) {
		<div class="titulo">
			<h1>Subtópico {{ sub.idCapitulo }}.{{ sub.id }}</h1>
			<div class="subtitulo">
				<span>∾</span><p>{{ sub.titulo }}</p><span>∾</span>
			</div>
		</div>
		<img draggable="false" [src]="'/subtopicos/subtopico' + sub.id + '.png'" [alt]="'Img do subtópico' + sub.id">
		<button (click)="acessarSubtopico(sub.idCapitulo, sub.id)">Acessar</button>
	}

	<div class="controls">
		<svg class="arrow-icon" width="48" height="41" viewBox="0 0 68 61" fill="none" style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg">
			<path fill="currentColor" style="pointer-events: all;" d="M67.9211 42.1558V18.6558C67.9211 16.4466 66.1303 14.6558 63.9211 14.6558H33.4211V4.00828C33.4211 0.417438 29.0563 -1.35465 26.5532 1.21996L1.132 27.3674C-0.377357 28.9199 -0.377358 31.3916 1.132 32.9441L26.5532 59.0916C29.0563 61.6662 33.4211 59.8941 33.4211 56.3032V46.1558H63.9211C66.1303 46.1558 67.9211 44.3649 67.9211 42.1558Z"/>
		</svg>
	</div>
</div>
